In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

dataset = pd.read_csv("loans_full_schema.csv")

dataset.isnull().sum()

emp_title                            833
emp_length                           817
state                                  0
homeownership                          0
annual_income                          0
verified_income                        0
debt_to_income                        24
annual_income_joint                 8505
verification_income_joint           8545
debt_to_income_joint                8505
delinq_2y                              0
months_since_last_delinq            5658
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
months_since_90d_late               7715
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_purpose                           0
application_type                       0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
grade                                  0
sub_grade                              0
issue_month                            0
loan_status                            0
initial_listing_status                 0
disbursement_method                    0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [11]:
dataset.drop('annual_income_joint', axis=1, inplace=True)

In [12]:
dataset.drop('verification_income_joint', axis=1, inplace=True)

In [13]:
dataset.drop('debt_to_income_joint', axis=1, inplace=True)

In [14]:
dataset.drop('months_since_last_delinq', axis=1, inplace=True)

In [15]:
dataset.drop('months_since_90d_late', axis=1, inplace=True)

In [16]:
dataset.drop('months_since_last_credit_inquiry', axis=1, inplace=True)

In [17]:
dataset.drop('num_accounts_120d_past_due', axis=1, inplace=True)

In [18]:
dataset.isnull().sum()

emp_title                       0
emp_length                      0
state                           0
homeownership                   0
annual_income                   0
verified_income                 0
debt_to_income                  0
delinq_2y                       0
earliest_credit_line            0
inquiries_last_12m              0
total_credit_lines              0
open_credit_lines               0
total_credit_limit              0
total_credit_utilized           0
num_collections_last_12m        0
num_historical_failed_to_pay    0
current_accounts_delinq         0
total_collection_amount_ever    0
current_installment_accounts    0
accounts_opened_24m             0
num_satisfactory_accounts       0
num_accounts_30d_past_due       0
num_active_debit_accounts       0
total_debit_limit               0
num_total_cc_accounts           0
num_open_cc_accounts            0
num_cc_carrying_balance         0
num_mort_accounts               0
account_never_delinq_percent    0
tax_liens                       0
public_record_bankrupt          0
loan_purpose                    0
application_type                0
loan_amount                     0
term                            0
interest_rate                   0
installment                     0
grade                           0
sub_grade                       0
issue_month                     0
loan_status                     0
initial_listing_status          0
disbursement_method             0
balance                         0
paid_total                      0
paid_principal                  0
paid_interest                   0
paid_late_fees                  0
dtype: int64

In [6]:
dataset['debt_to_income']=dataset['debt_to_income'].fillna(dataset['debt_to_income'].mode().values[0] )

In [7]:
dataset.isnull().sum()

emp_title                            833
emp_length                           817
state                                  0
homeownership                          0
annual_income                          0
verified_income                        0
debt_to_income                         0
annual_income_joint                 8505
verification_income_joint           8545
debt_to_income_joint                8505
delinq_2y                              0
months_since_last_delinq            5658
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
months_since_90d_late               7715
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_purpose                           0
application_type                       0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
grade                                  0
sub_grade                              0
issue_month                            0
loan_status                            0
initial_listing_status                 0
disbursement_method                    0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [8]:
dataset['emp_title']=dataset['emp_title'].fillna(dataset['emp_title'].mode().values[0] )

In [9]:
dataset['emp_length']=dataset['emp_length'].fillna(dataset['emp_length'].mode().values[0] )

In [19]:
dataset.isnull().sum()

emp_title                       0
emp_length                      0
state                           0
homeownership                   0
annual_income                   0
verified_income                 0
debt_to_income                  0
delinq_2y                       0
earliest_credit_line            0
inquiries_last_12m              0
total_credit_lines              0
open_credit_lines               0
total_credit_limit              0
total_credit_utilized           0
num_collections_last_12m        0
num_historical_failed_to_pay    0
current_accounts_delinq         0
total_collection_amount_ever    0
current_installment_accounts    0
accounts_opened_24m             0
num_satisfactory_accounts       0
num_accounts_30d_past_due       0
num_active_debit_accounts       0
total_debit_limit               0
num_total_cc_accounts           0
num_open_cc_accounts            0
num_cc_carrying_balance         0
num_mort_accounts               0
account_never_delinq_percent    0
tax_liens                       0
public_record_bankrupt          0
loan_purpose                    0
application_type                0
loan_amount                     0
term                            0
interest_rate                   0
installment                     0
grade                           0
sub_grade                       0
issue_month                     0
loan_status                     0
initial_listing_status          0
disbursement_method             0
balance                         0
paid_total                      0
paid_principal                  0
paid_interest                   0
paid_late_fees                  0
dtype: int64

In [19]:
dataset.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,delinq_2y,earliest_credit_line,inquiries_last_12m,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,0,2001,6,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,0,1996,1,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,0,2006,4,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,0,2007,0,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,0,2008,7,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [22]:
dataset.shape

(10000, 48)

In [68]:
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(Y_train)
print(training_scores_encoded)
print(utils.multiclass.type_of_target(Y_train))
print(utils.multiclass.type_of_target(Y_train.astype('int')))

[ 4  4 35 ... 24 20  9]
continuous
multiclass

In [39]:
dataset.drop('emp_title', axis=1, inplace=True)

In [41]:
dataset.drop('homeownership', axis=1, inplace=True)

In [42]:
dataset.drop('grade', axis=1, inplace=True)

In [43]:
dataset.drop('sub_grade', axis=1, inplace=True)

In [44]:
dataset.drop('issue_month', axis=1, inplace=True)

In [45]:
dataset.drop('loan_status', axis=1, inplace=True)

In [46]:
dataset.drop('initial_listing_status', axis=1, inplace=True)

In [47]:
dataset.drop('disbursement_method', axis=1, inplace=True)

In [48]:
dataset.drop('loan_purpose', axis=1, inplace=True)
dataset.drop('application_type', axis=1, inplace=True)
dataset.drop('verified_income', axis=1, inplace=True)

In [3]:
dataset.drop('state', axis=1, inplace=True)

NameError: name 'dataset' is not defined

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score
import math
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
Y_train = lab_enc.fit_transform(Y_train)
X_train = lab_enc.fit_transform(X_train)
Y_test = lab_enc.fit_transform(Y_test)
X_test = lab_enc.fit_transform(X_test)
x = dataset.drop('interest_rate', 1)
y = dataset.interest_rate

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.33, random_state=38)
lab_enc = preprocessing.LabelEncoder()
Y_train = lab_enc.fit_transform(Y_train)
X_train = lab_enc.fit_transform(X_train)
Y_test = lab_enc.fit_transform(Y_test)
X_test = lab_enc.fit_transform(X_test)
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
prediction_knn = knn.predict(X_test)
print("Prediction for test set: {}".format(prediction_knn))
print('Accuracy of the model: {:.2f}'.format(accuracy_score(Y_test, prediction_knn)*100))
diff_knn = pd.DataFrame({'Actual value': Y_test, 'Predicted value': prediction_knn})
diff_knn

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   emp_title                     10000 non-null  object
 1   emp_length                    10000 non-null  float64
 2   state                         10000 non-null  object
 3   homeownership                 10000 non-null  object
 4   annual_income                 10000 non-null  float64
 5   verified_income               10000 non-null  object
 6   debt_to_income                10000 non-null  float64
 7   delinq_2y                     10000 non-null  int64
 8   earliest_credit_line          10000 non-null  int64
 9   inquiries_last_12m            10000 non-null  int64
 10  total_credit_lines            10000 non-null  int64
 11  open_credit_lines             10000 non-null  int64
 12  total_credit_limit            10000 non-null  int64
 13  total_credit_utilized         10000 non-null  int64
 14  num_collections_last_12m      10000 non-null  int64
 15  num_historical_failed_to_pay  10000 non-null  int64
 16  current_accounts_delinq       10000 non-null  int64
 17  total_collection_amount_ever  10000 non-null  int64
 18  current_installment_accounts  10000 non-null  int64
 19  accounts_opened_24m           10000 non-null  int64
 20  num_satisfactory_accounts     10000 non-null  int64
 21  num_accounts_30d_past_due     10000 non-null  int64
 22  num_active_debit_accounts     10000 non-null  int64
 23  total_debit_limit             10000 non-null  int64
 24  num_total_cc_accounts         10000 non-null  int64
 25  num_open_cc_accounts          10000 non-null  int64
 26  num_cc_carrying_balance       10000 non-null  int64
 27  num_mort_accounts             10000 non-null  int64
 28  account_never_delinq_percent  10000 non-null  float64
 29  tax_liens                     10000 non-null  int64
 30  public_record_bankrupt        10000 non-null  int64
 31  loan_purpose                  10000 non-null  object
 32  application_type              10000 non-null  object
 33  loan_amount                   10000 non-null  int64
 34  term                          10000 non-null  int64
 35  interest_rate                 10000 non-null  float64
 36  installment                   10000 non-null  float64
 37  grade                         10000 non-null  object
 38  sub_grade                     10000 non-null  object
 39  issue_month                   10000 non-null  object
 40  loan_status                   10000 non-null  object
 41  initial_listing_status        10000 non-null  object
 42  disbursement_method           10000 non-null  object
 43  balance                       10000 non-null  float64
 44  paid_total                    10000 non-null  float64
 45  paid_principal                10000 non-null  float64
 46  paid_interest                 10000 non-null  float64
 47  paid_late_fees                10000 non-null  float64
dtypes: float64(11), int64(25), object(12)
memory usage: 3.7+ MB